/* module-key = 'confluence.extra.noemailstorm:resources', location = 'css/no-email-storm.css' */
#rte-button-publish.no-email-storm {
	border-bottom-right-radius: 0 !important;
	border-top-right-radius: 0 !important;
}

#save-and-notify {
	border-bottom-left-radius: 0 !important;
	border-top-left-radius: 0 !important;
	border-left: 0 !important;
	cursor: pointer;
}

#no-email-storm-button-container {
	display: inline-block;
	margin-right: 10px;
}


