.ac-container{
	 
  
    text-align: left;
    width: 100%;
}
.subaccordin label {

	background: #fff;
}
.ac-container label{
	font-family: nexabold;
	padding: 10px;
	position: relative;
	z-index: 20;
	display: block;
	text-align: left;
	cursor: pointer;
	color: #454545;
	 font-weight: 500;
	line-height: 33px;
	font-size: 16px;
	background: #E9E9E9;
	  margin-bottom: 5px;
	
}
.ac-container label span {

	line-height: 30px;
    padding-right: 5px;
}
.ac-container .container {

	background: #fff;
	padding-left: 0;
	padding-right: 0;
}
.ac-container label:hover{
	background: #E9E9E9;
}

.ac-container label:after,
.ac-container input:checked label:after{
	content: '';
	height: 9px;
    position: absolute;
    right: 15px;
    top: 20px;
    width: 14px;
	background: transparent url(../images/buttons/down-arrow.png) no-repeat center center;	
}
.ac-container input:checked + label:after{
	background-image: url(../images/buttons/up-arrow.png);
}

.ac-container input.subaccordin:checked + label:after {
	background-image: url(../images/buttons/minus.png);
	 height: 24px;
    top: 15px;
    width: 24px;
}

.ac-container input.subaccordin +  label:after{
background-image: url(../images/buttons/plus.png);
 height: 24px;
    top: 15px;
    width: 24px;
}
.ac-container input{
	display: none;
}
.ac-container article{
	background: rgba(255, 255, 255, 0.5);
	margin-top: -1px;
	overflow: hidden;
	height: 0px;
	position: relative;
	z-index: 10;
	-webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}

.ac-container input:checked ~ article{

		
	
}
.ac-container input.active ~ article.ac-small{
	height: auto;
	padding: 20px;
}
.ac-container input:checked ~ article.ac-medium{
	height: 180px;
}
.ac-container input:checked ~ article.ac-large{
	height: 230px;
}