*{font-family: roboto;}
.blog .carousel-caption{padding-bottom:28px!important}
.blog_title{font-size:28px!important; font-family: roboto;}
.blog .cat_blog_new span a{line-height: 14px; font-size:12px!important; text-decoration: none!important; display:inline-block;}
.blog_mem_author span { font-size: 18px!important;  vertical-align: text-bottom;  color: #000;}
.blog_mem_author p { font-size: 12px !important; font-weight: normal !important; color: #999; padding-bottom: 15px!important; text-align: justify;}
.blog_meta_inform p { font-size: 12px !important;  font-weight: normal !important;}
.blog_meta_inform{    height: 80px; overflow: hidden;}
.blog{font-family: roboto!important; }
.blog h1{font-size:30px!important;text-transform: initial !important;font-weight: 600;line-height: 40px;}
.blog h2{font-size:26px!important; font-family: roboto; text-transform: capitalize!important;}
#postinfo h2 b,#postinfo h2, #postinfo h1{font-size:22px!important; font-family: roboto!important; text-transform:capitalize!important; font-weight: 500!important;}
.blog h3,.blog h3 b, .blog li h3 b, .newblogcontent h3, .postInfo h3, #postinfo h3{font-size:18px!important; font-family: roboto!important;font-weight: 500!important;padding: 10px 0px 12px 0px!important;text-transform: none;}
.blog p span,.blog p,#postinfo p, .postInfo p, #postinfo p{ font-weight: 300!important; font-family: roboto;font-size:16px; text-align: justify;    margin-bottom: 15px !important;margin-top:0px !important;}
.blog a{font-size:16px; font-family: roboto; color: #5baef5; text-decoration: underline!important; line-height: 25px;}
.blog i{color:#af6520; font-size: 16px; }
.blog li, .blog ol, .blog ul li {  list-style: none; margin:15px 0px!important;}
.blog i, .blog  em,.blog  em strong{color:#bb851c; font-size: 16px; font-weight: 400 !important;}
.postInfo img { display: block; clear:both}
.blog_mem_author li,.blog_mem_author p,.cat_blog_new li {margin:0px!important;}
.blog_mem_author p{font-weight: 300 !important;}
.blog ul li b,.blog b, .blog strong{ font-weight: 500!important;}
.postInfo ul li, .postInfo ol li,#postinfo li { font-size: 16px !important; text-align: justify; padding: 0px 0; font-family: roboto; line-height: 25px;}
/* .postInfo ol, .postInfo ul{padding-left:0px !important;}*/
.blog_mem_author {padding: 0; height: 50px;  margin-top: -14px;  margin-left: -10px;}
.blog_mem_author p { font-size: 12px !important; font-weight: 300 !important;}
.smallLetter{ padding:0px 5px; }
#postinfo a b{font-weight: 300!important;}
.blog h2{   padding: 0px 0px 10px 0px!important; text-transform: capitalize!important; font-size:26px!important;}
.blog h2 b{    text-transform: capitalize!important; font-size:26px!important;}
.postInfo h6{padding-bottom: 0px!important;}
.widthAuto{width: auto!important;}
.bctt-click-to-tweet{    padding: 10px 15px 6px 10px!important;     background: #f5f5f5!important;  border:0px!important}
.blog p b,.blog ul li b{text-transform:initial;}
.newblogcontent br{display:none}
.blog .textRight{text-align:right!important}
.blog .textcenter{    text-align: center!important;}
.blog blockquote, .postInfo blockquote{color:#bb851c; font-size: 16px; font-weight: 300 !important;  font-style: italic;}
.smallText{font-weight: normal! important;}
.blog table, .blog table td{    font-family: roboto; font-size: 16px; font-weight: 300;     vertical-align: middle;}
.blog table img.alignleft{margin:0px!important}
.downloadBtn { background: #000; color: #5baef5;  text-align: center;  padding: 8px 15px; margin: 5px auto; clear: both;  width: 190px;  text-transform: uppercase; text-decoration: none;}
.cta-cts {padding: 15px 0;margin: 0 auto;}
.cta-cts a {text-decoration: none !important;}
.italic-cls{font-style: italic;}

/* Blog Left Side */
.leftBg{background:#fff!important}
.leftBg { margin:0px 0px 10px 0!important }
.leftBg .fa-facebook-f:before, .fa-facebook:before{color:#39579a}
.leftBg .fa-twitter:before{color:#50abf1}
.leftBg .fa-linkedin:before{color:#0079bb}
.leftBg .fa-google-plus:before{color:#f34a38}
.leftBg .fa-youtube:before{color:#e22c26}
.leftBg .search_values { border-bottom: 2px solid #c2c2c2!important; border-left: 0px solid #c2c2c2!important; border-top: 0px solid #c2c2c2!important; border-right: 0px solid #c2c2c2!important; font-style: italic; color: #a4a4a4; margin-top: 20px; box-shadow: none; margin-bottom: 30px; font-weight: 300;}
.icon-search_icon:before {  color: #888;}
.leftBg h2{ font-size: 14px!important;  color: #a4a4a4!important;  margin-bottom:0px!important;  text-transform: uppercase!important; font-family: roboto; border-bottom: 2px solid #4b4b4b;}
.leftBg .search_icon {right: 20px!important; top: 70px!important; }
.leftBg .circle_icon { border: 0px!important; margin-right: 5px; width: 33px; height: auto; font-size: 18px! important;  text-align: center; background: #f0f0f0; margin-top: 10px;}
.leftBg ul li,.rightContent li,#sidebar li, .blog_mem_author li{ margin: 0px!important;}
.leftBg  a{color:#4b4b4b!important; text-decoration: none!important;     text-decoration: underline; line-height: 30px!important;}
.leftBg  a:hover{color:#2e69b3!important;}
#sidebar a{color:#4b4b4b!important; text-decoration: none!important;     text-decoration: underline;}
#sidebar a:hover{color:#2F6DB5!important;     text-decoration: underline!important;}
#recent-posts-3{background:#fff!important; }
#recent-posts-3 h4{font-size: 14px!important;  color: #a4a4a4!important;  margin-bottom:0px!important;  text-transform: uppercase!important; font-family: roboto; border-bottom: 2px solid #4b4b4b!important;  padding-bottom: 15px;}
.blogCategories-cst h2{    background: #000; color: #fff!important;  font-weight: 300;  padding-top: 15px!important;  padding-left: 15px! important;}
.blogCategories-cst ul{ margin-left: 15px;}
.blogCategories-cst li{ line-height: 30px!important;}
.followus-cst{ border-bottom:0px!important;}
.widget-seperator ul{margin-left: -10px!important;}


/* Form */
.ebookdwidget .wpcf7-form p,.ebookdwidget .wpcf7-not-valid-tip{ padding-bottom: 5px!important; margin: 0px!important;}
.ebookdwidget .wpcf7-not-valid-tip, .ebookdwidget .wpcf7-validation-errors{font-family: roboto!important; font-size: 14px!important; font-weight: 300;}