[Desktop Entry]
Name=SerenadeAI
Comment=Share this desktop by Serenade
Exec=/usr/local/bin/SerenadeAI
Icon=/usr/share/pixmaps/SteveProXNA.jpg
Terminal=false
Type=Application